---
import { getCollection, getEntry } from "astro:content";
import BlogLayout from "@layouts/BlogLayout.astro";
import TableOfContents from "@components/TableOfContents.astro";
import { Icon } from "astro-icon/components";
import TableOfContentsMobile from "@components/TableOfContentsMobile.astro";
import "@styles/docs.css";
// import '@styles/post.css';
const { slug } = Astro.params;
if (!slug) throw new Error("Slug not found");
const post = await getEntry("posts", slug);

//Authors Collection
const authors = await getCollection("authors");
// Filtramos solo los autores que pertenecen al post
const authorsOfPost = authors.filter((e) => post?.data.authors?.includes(e.id));
if (!post) throw new Error("No post found for this slug");

const { Content, headings } = await post.render();

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post: { slug: string }) => ({
    params: { slug: post.slug },
  }));
}
---

<BlogLayout 
  title={post.data.title} 
  description={post.data.description} 
  data-pagefind-ignore="all"
  {...(post.data.draft ? { "data-pagefind-ignore": "all" } : {})}>
  <main
    class="flex flex-col xl:flex-row 2xl:flex-row gap-x-4  print mx-auto print:break-inside-avoid print:relative print:pt-14 print:mt-0"
  >
    <div class="hidden 2xl:block 2xl:w-1/5"></div>
    <section class="2xl:w-3/5 pt-5">
      <Icon
        name="ideal"
        class:list="hidden print:inline print:opacity-30 print:absolute print:top-0 print:right-0"
      />
      <header
        class="flex flex-col gap-y-3 justify-between items-start content-start print:absolute print:top-0 print:left-0 mb-2 md:flex-row lg:flex-row xl:flex-row"
      >
        <div class="flex flex-col">
          <h1 id="main-title">{post.data.title}</h1>
          <div>
            <p class="text-gray-400 inline">Redactado por</p>
            {
              authorsOfPost.map((e) => (
                <p class="inline">
                  <a
                    target="_blank"
                    rel="noopener noreferrer"
                    class="hover:underline text-gray-400 cursor-pointer"
                    href={e.data.links ? e.data.links : "/"}
                  >
                    {e.data.name}
                  </a>
                </p>
              ))
            }
          </div>
        </div>
        <button
          class="flex justify-center items-center gap-x-2 text-white font-semibold bg-black py-2 px-3 rounded-md print:hidden min-w-full md:min-w-fit lg:min-w-fit xl:min-w-fit"
          onclick="window.print()">Descargar
          <Icon name="pdf"/>
          </button
        >
        <TableOfContentsMobile headings={headings} />
      </header>
      <article
        class="flex flex-col-reverse md:flex-row lg:flex-row gap-x-5 print:flex-col markdown-body"
      >
        <Content
          class="flex-5 list order-2 md:order-first lg:order-first print:order-last"
        />
      </article>
    </section>
    <TableOfContents headings={headings} />
  </main>
</BlogLayout>

<style is:global>
  #main-title {
    font-weight: bold;
    font-size: 2rem;
    color: #31363f;
  }

  p {
    text-wrap: pretty;
    display: inline;
  }

  span.base {
    margin: 5px 0 5px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  code {
    font-family: monospace;
    background-color: #efefef;
    padding: 5px;
    border-radius: 5px;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
    color: #dd4a68;
  }

  th,
  td {
    text-align: center;
    border: 1px solid #ccc;
    padding: 8px;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin-top: 1em;
  }

  ol li {
    margin-bottom: 1rem;
  }

  ul li {
    margin-bottom: 1rem;
  }

  tr {
    font-weight: bold;
  }

  @media print {
    .no-print {
      display: none !important;
    }

    #main-title {
      font-size: 1.4rem;
    }

    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1.3em;
    }
    h3 {
      font-size: 1.1em;
    }

    p {
      font-size: 1em;
    }

    astro-dev-toolbar {
      display: none !important;
    }
  }
</style>
